* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    background-color: white;
    color: red;
    border: black 1px solid;
    font-weight: 500px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s;
    width: 50%;
    display: flex;
    justify-content: center;
}

.btn:hover:not([disabled]) {
    background: black;

}
.btn:disabled {
    cursor: no-drop
}

body {
    background-color: #df1f2d;
}

h1, h2 {
    color:white 
}

.main-screen {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    align-items: center;
    margin: 10px
}

.spidey-knowledge, .start-quiz {
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 15px;
}

.spidey-knowledge {
    margin-top: 30px;
}

#answer-buttons, #question, #next {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.correct {
    background: greenyellow;
}

.incorrect {
    background: red;
}

#next {
    cursor: pointer;
}