* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.btn {
    background-color: white;
    color: red;
    border: black 1px solid;
    font-weight: 500px;
    font-size: 2rem;
    padding: 50px;
    margin: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s;
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
}

.btn:hover:not([disabled]) {
    background: black;

}
.btn:disabled {
    cursor: no-drop
}

body {
    background-color: #df1f2d;
}

h1, h2 {
    color:white; 
    padding: 15px;
}

.main-screen {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    align-items: center;
    margin: 10px;
    text-align: center;
}

.spidey-knowledge, .start-button {
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 15px;
}

.spidey-knowledge {
    margin-top: 30px;
    display: block;
}

#answer-buttons, #question, #next {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.correct {
    background: green;
    color: white;
}

.incorrect {
    background: rgb(116, 0, 0);
    color: white;
}

#next {
    cursor: pointer;
    background: #2B3784;
    font-weight: 600px;
    width: 31%;
    padding: 30px;
    margin: 20px auto 0;
    border-radius: 10px;
    display: block;
    font-size: 1.2rem;
    color: white;
}

.spidey-knowledge, .start-button {
    cursor: pointer;
    background: #2B3784;
    font-weight: 600px;
    width: 31%;
    padding: 30px;
    margin: 20px auto 0;
    border-radius: 10px;
    display: block;
    font-size: 1.2rem;
    color: white;
}

a {
    color: #df1f2d;
}

.spidey-knowledge:hover {
    background-color: white;
    color: #2B3784;
    transition: .3s;
}

.start-button:hover{ 
    background-color: white;
    color: #2B3784;
    transition: .3s;
}
#next:hover {
    background-color: white;
    color: #2B3784;
    transition: .3s;
}

.quiz {
    background-color: #2B3784;
    width: 90%;
    max-width: 900px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    font-size: 1.25rem;
    margin-top: -1px;
    text-align: center;
    display: none;
}

#question {
    margin-bottom: 30px;
    text-align: center;
}

#timer {
    color: #df1f2d;
    font-size: 1.3rem
}